:root {
  --color-main: #eee;
  --color-main-dark: #ddd;
  --color-white: #fff;
  --color-primary: #121212;
  --color-white-60: rgba(255,255,255,0.6);
  --color-white-40: rgba(255,255,255,0.4);
  --color-accent: #B2F4DC;

  --color-dark: #444;
}

$bp-1200: 75em; //1200px
$bp-900: 56.25em; //900px

#root {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-primary);
  height: 80vh;
  border: solid 1px #444;
  border-radius: 2rem;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (max-width:$bp-1200){
    margin: 0.5rem 0.5rem;
    height: 99vh;
  }
}

.NotFound {
  text-align: center;
  color: var(--color-white-60);
  margin: 5rem;
  padding: 2rem;
  font-size: 3rem;
}

.header {
  background: linear-gradient(0deg, var(--color-primary), #101010);
  height: 6rem;
  text-align: center;
  margin-bottom: 2rem;
  display: block;
  width: 100%;
  & img {
    height: 7rem;
    transition: height 0.3s;
    &:hover {
      height: 8rem;
    }
  }
}

.footer {
  height: calc(40% - 8.5rem);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--color-white-60);
  font-size: 1.3rem;
  & a:link, a:active, a:focus, a:visited {
    text-decoration: none;
    color: var(--color-accent);
  }
  @media only screen and (max-width:$bp-900) {
    font-size: 1rem;
  }
}

.search {
  text-align: center;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #eee;
  &_details {
    & u {
      font-weight: 600;
      font-size: 2.0rem;
    }
    font-size: 1.4rem;
  }
  &_form {
    display: flex;
    // border: solid 0.1rem var(--color-dark);
    border: none;
    & > * {
      padding: 1.5rem;
      font-family: inherit;
      height: 5rem;
    }
  }
  &_select {
    border: none;
    background-color: var(--color-white-60);
    border-radius: 500px 0 0 500px;
    color: var(--color-primary);
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
  &_area {
    width: 35vw;
    border: none;
    transition: width 0.3s;
    background-color: var(--color-white-60);

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--color-primary);
      opacity: 1; /* Firefox */
    }

    &:focus {
      outline: none;
      width: 39vw;
    }
  }
  &_button {
    width: 5rem;
    border: none;
    background-color: var(--color-white-60);
    border-radius: 0 500px 500px 0;
    &:focus,
    &:active,
    &:hover {
      outline: none;
    }
  }
  &_logo {
    fill: var(--color-primary);
    height: 100%;
    width: 100%;
  }
}

//Subject styling

.subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &_name {
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 2rem;
    color: var(--color-white-60);
  }

  &_year {
    border: solid 0.1rem var(--color-white-40);
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    width: 90%;
    margin: 1rem;
    color: var(--color-white-60);
    &_name {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }
  &_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    @media only screen and (max-width:$bp-900) {
      flex-direction: column;
    }
  }

  &_paper {
    position: relative;
    font-size: 2rem;
    color: var(--color-white);
    & span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      transition: opcity 0.2s, width 0.5s;
    }
    &:hover span {
      opacity: 0;
      width: 0;
    }
    &:hover img {
      filter: opacity(1);
    }
    
  }

  &_thumbnail {
    //This is img tag
    height: 25rem;
    width: 25rem;
    border: solid 0.1rem var(--color-white-40);
    border-radius: 10px;
    -webkit-filter: opacity(.1);
    filter: opacity(.3);
    transition: filter 0.3s;
  }
}

//Imageview
.imageview {
  text-align: center;
  height: 100%;
  width: 100%;
  &_image {
    width: 100%;
  }
}