*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }


html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}
body {
  background: radial-gradient(ellipse at bottom,  #222 0%,#000 100%);
}